@font-face {
    font-family: 'PP Radio Grotesk Black';
    font-style: normal;
    src: url(/typography/PPRadioGrotesk-Black.woff2) format(woff2);
}

@font-face {
    font-family: 'PP Radio Grotesk Light';
    font-style: normal;
    src: url(/typography/PPRadioGrotesk-Light.woff2) format(woff2);
}

@font-face {
    font-family: 'PP Mori Book';
    font-style: normal;
    src: url(/typography/PPMori-Book.woff2) format(woff2);
}

@font-face {
    font-family: 'PP Mori Regular';
    font-style: normal;
    src: url(/typography/PPMori-Regular.woff2) format(woff2);
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body.is-reversed  .progress-section{
    background-image: url(scroll-indicator-black.svg);
}  

/* Navbar Styling */
.navigation{
    width: 100%;
    height: 80px;
    display: block;
    background-color: transparent;
    position: absolute;
    z-index: 2;
}

.inheader{
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container a{
    color: #FBFCFF;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "PP Radio Grotesk Light";
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.logo_container a span{
    font-family: "PP Radio Grotesk Black";
}

.navbar{
    float: right;
    height: 100%;
}

.navbar a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}

.navbar a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #FBFCFF;
    font-family: "PP Radio Grotesk Light";
    font-size: 20px;
}

.navbar a li:hover{
    color: #0099FF;
    transition: .4s;
}

/* scrolling idicator */

.progress-section {
    position: fixed;
    top: 10vw;
    right: 2vw;
    z-index: 1;
    height: 50vh;
    width: 140px;
    display: flex;
    transform: 0.3s ease-out;
    background-image: url(scroll-indicator-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
 
  .progress-container {
    position: relative;
    top: 1.7vh;
    height: 43vh;
    left: 1vw;
    width: 140px;
    background: transparent;
    z-index: 0;
    transform: translateY(0);
  }
  
  .progress-bar {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(indicator.svg);
    background-repeat: no-repeat;
  }

  .progress-bar span{
    position: absolute;
    height: 0vw;
    width: 0vh;
  }
  

/* each section of the page */
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

/* hero section */
.one{ 
    background-color: #080708;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header {
    color: #FBFCFF;
}

.header h2{
    font-family: 'PP Radio Grotesk Light';
    font-size: 2vw;
    text-align: left;
    margin-left: 4.4%;
    margin-bottom: 3rem;
}


.header h1{
    font-family: 'PP Radio Grotesk Black';
    font-size: 10.5vw;
    text-align: center;
    color: #FBFCFF;
    margin: 0;
    padding: 0;
    line-height: 0.8;
}


.header h1 span.red{
    color: #DF2935;
}

.header h1 span.blue{
    color: #0099FF;
}

.header .ready{
    text-align: center;
    font-family: "PP Radio Grotesk Light";
    font-size: 1vw;
}

/* hero section scrolling button annimation */
.scroll-button{
    height: 40px;
    width: 30px;
    position: absolute;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.scroll-button::before,
.scroll-button::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-button 1.5s ease-in-out infinite;
}
.scroll-button::after{
    top: 20%;
    animation-delay: .3s;
}

@keyframes scroll-button{
   0%{
    opacity: 0;
   }
   
   50%{
    opacity: 1;
   }
   100%{
    opacity: 0;
    top: 90%;
   }
}

.flag{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -0.4%;
}

.flag img{
    align-self: flex-end;
}

/* Mission page */
.two{ 
    color: #FBFCFF;
    background-image: url(background-miss.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro p{
    font-family: 'PP Radio Grotesk Black';
    font-size: 3.5vw;
    text-align: left;
    position: absolute;
    left: 17%;
    top: 27%;
}

/* Project page */
.three{ 
    color: #FBFCFF;
    background-image: url(background-project1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.three h2{
    font-family: 'PP Radio Grotesk Black';
    font-size: 2.5vw;
    position: absolute;
    padding: 3%;
    bottom: 0;
}

.project-top{
    position: absolute;
    left: 17.24%;
    top: 20%;
}

.image-top{
    width: 30vw;
    height: auto;
}

.image-top img{
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    object-fit: center;
}

.project-top h3{
    font-family: 'PP Mori Regular';
    font-size: 2vw;
    margin-top: 7%;
    margin-bottom: 0;
    padding: 0;
}

.project-top p{
    font-family: 'PP Mori Book';
    font-size: 0.8vw;
    margin-top: 0.4%;
    margin-left: 8%;
    margin-bottom: 0;
    padding: 0;
}

.project-bottom{
    position: absolute;
    left: 52.7%;
    bottom: 2.5%;
    max-width: 100%;
    height: auto;
}

.image-bottom{
    width: 30vw;
    height: auto;
}

.image-bottom img{
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    object-fit: center;
}

.project-bottom h3{
    font-family: 'PP Mori Regular';
    font-size: 2vw;
    margin-top: 7%;
    margin-bottom: 0;
    padding: 0;
}

.project-bottom p{
    font-family: 'PP Mori Book';
    font-size: 0.8vw;
    margin-top: 0.4%;
    margin-left: 8%;
    margin-bottom: 0;
    padding: 0;
}

@media(min-width: 1935px){
    .project-top{
        top: 19.1vh;
    }
    
    .project-bottom{
        bottom: 1.1vh;
    }
}

@media(min-height: 1079px){
    .project-top{
        top: 23.7vh;
    }
    
    .project-bottom{
        bottom: 7.6vh;
    }
}

@media(max-width: 1536px){
    .project-top{
        top: 23.5vh;
    }
    
    .project-bottom{
        bottom: 7.7vh;
    }
}

@media(max-height: 850px){
 
    .project-top{
        top: 22.7vh;
    }
    
    .project-bottom{
        bottom: 6.35vh;
    }
}

@media(max-height: 712px){
 
    .project-top{
        top: 17.7vh;
    }
    
    .project-bottom{
        bottom: 0;
    }

    .project-bottom h3{
        margin-top: 5.5%;
    }
    .project-bottom p{
        font-size: 0.8vw;
        margin: 0;
    }
}

@media(min-height: 1300px){
    .project-top{
        top: 21.2vh;
    }
    
    .project-bottom{
        bottom: 3.93vh;
    }
}

@media(min-height: 1439px){
    .project-top{
        top: 23.8vh;
    }
    
    .project-bottom{
        bottom: 7.7vh;
    }
}
/* Project page 2 */
.four{ 
    color: #080708;
    background-image: url(background-project2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.four h2{
    font-family: 'PP Radio Grotesk Black';
    font-size: 2.5vw;
    position: absolute;
    padding: 3%;
    bottom: 0;
}

/* About Me page */

.five{ 
    color: #080708;
    background-image: url(background-about.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-txt{
    position: absolute;
    text-align: center;
    padding-left: 32%;
    padding-right: 32%;
    top: 28.7vh;
}

.about-txt p{
    font-family: 'PP Mori Book';
    text-align: left;
    font-size: 1.5vw;
    line-height: 160%;

}

.five h2{
    font-family: 'PP Radio Grotesk Black';
    font-size: 2.5vw;
    position: absolute;
    padding: 3%;
    bottom: 0;
}


/* Contact page */
.six{ 
    background-color: #080708;
    color: #FBFCFF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
}

.flag-last{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: relative;
}

.flag-last img{
    align-self: flex-end;
}

.footer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icons{
    display: grid;
    grid-template-rows: minmax(100 px, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.lnkin{
    max-height: 10vw;
}

.ig{
    max-height: 10vw;
}

.wa{
    max-height: 10vw;
}

.icons img{
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icons img:hover{
    transform: rotate(120deg);
    opacity: 80%;
}


.footer h1{
    font-family: 'PP Radio Grotesk Black';
    font-size: 11vw;
    color: #DF2935;
    margin: 0;
    padding: 0;
}

.footer h1 span.blue{
    color: #0099FF;
}


.footer a{
    color: transparent;
}