html, body{
    scroll-behavior: smooth;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
    }

@font-face {
    font-family: 'PP Radio Grotesk Black';
    font-style: normal;
    src: url(/public/typography/PPRadioGrotesk-Black.woff2);
}

@font-face {
    font-family: 'PP Radio Grotesk Black';
    font-style: normal;
    src: url(/public/typography/PPRadioGrotesk-Light.woff2);
}

@font-face {
    font-family: 'PP Mori Book';
    font-style: normal;
    src: url(/public/typography/PPMori-Book.woff2);
}

@font-face {
    font-family: 'PP Mori Regular';
    font-style: normal;
    src: url(/public/typography/PPMori-Regular.woff2);
}
