@font-face {
    font-family: 'PP Radio Grotesk Black';
    font-style: normal;
    src: url(/typography/PPRadioGrotesk-Black.woff2) format(woff2);
}

@font-face {
    font-family: 'PP Radio Grotesk Regular';
    font-style: normal;
    src: url(/typography/PPRadioGrotesk-Regular.woff2) format(woff2);
}

@font-face {
    font-family: 'PP Mori Book';
    font-style: normal;
    src: url(/typography/PPMori-Book.woff2) format(woff2);
}

@font-face {
    font-family: 'PP Mori Regular';
    font-style: normal;
    src: url(/typography/PPMori-Regular.woff2) format(woff2);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Navbar Styling */
.navigation{
    width: 100%;
    height: 80px;
    display: block;
    background-color: transparent;
    position: absolute;
    z-index: 2;
}

.inheader{
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container a{
    color: #080708;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "PP Radio Grotesk Light";
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.logo_container a span{
    font-family: "PP Radio Grotesk Black";
}

.navbar{
    float: right;
    height: 100%;
}

.navbar a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}

.navbar a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #080708;
    font-family: "PP Radio Grotesk Light";
    font-size: 20px;
}

.navbar a li:hover{
    color: #0099FF;
    transition: .4s;
}

/* Hero Section*/

.title{
    padding: 5%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.title h1{
    font-family: 'PP Radio Grotesk Black';
    font-size: 10vh;
}


.hero{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header img{
    max-width: 100%;
    height: auto;
}

/* Overview */
.overview{
    display: grid;
    padding: 10%;
    grid-template-rows: 0.5fr 0fr 1fr;
    grid-template-columns: 2fr 0fr 0.5fr;
    grid-gap: 0em 15em ;
}

.breif{
    grid-area: 1 / 1 / 1 / 2 ;
    
}

.skills{
    grid-area: 1 / 3 / 1 / 3;
}


.solution{
    grid-area: 3 / 1 / 3 / 2 ;
}

.client{
    grid-area: 2 / 3 / 3 / 3 ;

}

.link{
    grid-area: 3 / 3 / 3 / 3 ;

}

.overview h2{
    font-family:'PP Radio Grotesk Regular';
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.overview p{
    font-family: 'PP Mori Book';
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.overview h3{
    font-family: 'PP Mori Regular';
    line-height: 0.5rem;
    color: #DF2935;
    font-size: 1.2rem;
}

/* Features Main*/
.features{
    position: relative;
    margin: 0;
    padding: 0;
}

.background{
    position: relative;
    background-color: #080708;
    z-index: -2;
}
.background img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.features h2{
    color: #FBFCFF;
    font-family: 'PP Radio Grotesk Regular';
    font-size: 1.5vw;
}

.features p{
    color: #FBFCFF;
    font-family: 'PP Mori Book';
    font-size: 1vw;
}

/* Features 1*/
.feature1{
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 5%;
    margin-left: 10%;
    margin-right: 50%;
}

.container1{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 5%;
    margin-left: 10%;
    margin-right: 15%;
    padding-right: 10%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1em;
}

.pic1{
    grid-area: 1 / 1 / 1 / 1;
    max-width: 600px;
}

.pic2{
    grid-area: 1 / 2 / 1 / 2;
    max-width: 600px;
}

.pic3{
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
    max-width: 1200px;
}

.container1 img{
    max-width: 100%;
    height: auto;
    border-radius: 60px;
}

/* Features 2*/
.feature2{
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 5%;
    margin-left: 10%;
    margin-right: 50%;
}

.container2{
    position: absolute;
    z-index: 1;
    top: 41%;
    left: 5%;
    margin-left: 10%;
    margin-right: 15%;
    padding-right: 10%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 1em 1em;
}

.pic4{
    grid-area: 1 / 1 / 1 / 1;
    max-width: 600px;
}

.pic5{
    grid-area: 1 / 2 / 1 / 2;
    max-width: 600px;
}

.pic6{
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
    max-width: 1200px;
}

.container2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 60px;
}

/* Features 3*/

.feature3{
    position: absolute;
    z-index: 1;
    top: 66%;
    left: 5%;
    margin-left: 10%;
    margin-right: 50%;
}

.container3{
    position: absolute;
    z-index: 1;
    top: 72%;
    left: 5%;
    margin-left: 10%;
    margin-right: 15%;
    padding-right: 10%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em 1em;
}

.pic7{
    grid-area: 1 / 1 / 1 / 1;
    max-width: 600px;
}

.pic8{
    grid-area: 1 / 2 / 1 / 2;
    max-width: 600px;
}

.pic9{
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
    max-width: 1200px;
}

.container3 img{
    max-width: 100%;
    height: auto;
    border-radius: 60px;
}

/* Testimonial */

.testimonial{
    position: relative;
    background-color: #FBFCFF;
    z-index: -2;
}
.testimonial img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

/* Discover */
.discover{
    position: relative;
}

.discover-background{
    position: relative;
    background-color: #FBFCFF;
    z-index: -2;
}
.discover-background img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    z-index: -1;
}
/* Pages */

.pages{
    position: absolute;
    top: 27%;
    left: 10%;
}

.pages h2{
    font-family: 'PP Radio Grotesk Black';
    font-size: 3vw;
    color: #080708;
}

.card{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28vw;
    height: auto;
}

.card img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 2%;
    
}


/* Contact */

.contact{ 
    background-color: #FBFCFF;
    color: #FBFCFF;
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icons{
    display: grid;
    grid-template-rows: minmax(100 px, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.lnkin{
    max-height: 10vw;
}

.ig{
    max-height: 10vw;
}

.wa{
    max-height: 10vw;
}

.icons img{
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icons img:hover{
    transform: rotate(120deg);
    opacity: 80%;
}


.footer h1{
    font-family: 'PP Radio Grotesk Black';
    font-size: 11vw;
    color: #DF2935;
    margin: 0;
    padding: 0;
}

.footer h1 span.blue{
    color: #0099FF;
}


.footer a{
    color: transparent;
}



